<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <center>
      <h4 class="sub-heading">Menu</h4>
        </center>
      <div id="ready_to_eat">
<br>
        <!-- Dynamically Insert Ready Burgers Here -->
      <div id="Meats">
        {{#each meats}}
          {{#unless devoured}}
          <li>
  		<p><span class="label"></span> {{this.image}}</p>
      <p><span class="label"></span> {{this.product}}</p>
      <p><span class="label">Price:</span> {{this.price}}</p>
      <button class="btn btn-success devour-button" type="submit">Select It!</button>


        {{/unless}}
        {{/each}}
        </div>

      </div>
    </div>


<div class="col-md-6">
  <center>
      <h4 class="sub-heading">Receipt</h4>
    </center>
      <div id="already_eaten">
<br>
        <!-- Dynamically Insert Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
