<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <center>
      <h4 class="sub-heading">Menu</h4>
        </center>
      <div id="ready_to_eat">
<br>
        <!-- Dynamically Insert Ready Burgers Here -->
      <div id="Meats">
        {{#each meats_data}}
          {{#unless this.chosen}}
          <li>
  		<p><span class="label"></span> {{this.image}}</p>
      <p><span class="label"></span> {{this.product}}</p>
      <p><span class="label">Price:</span> {{this.price}}</p>
      <button class="btn btn-success devour-button" type="submit">Select It!</button>


        {{/unless}}
        {{/each}}
        </div>

        <div id="Buns">
          {{#each buns_data}}
            {{#unless this.chosen}}
            <li>
    		<p><span class="label"></span> {{this.image}}</p>
        <p><span class="label"></span> {{this.product}}</p>
        <p><span class="label">Price:</span> {{this.price}}</p>
        <button class="btn btn-success devour-button" type="submit">Select It!</button>


          {{/unless}}
          {{/each}}
          </div>

          <div id="Cheeses">
            {{#each cheeses}}
              {{#unless this.chosen}}
              <li>
      		<p><span class="label"></span> {{this.image}}</p>
          <p><span class="label"></span> {{this.product}}</p>
          <p><span class="label">Price:</span> {{this.price}}</p>
          <button class="btn btn-success devour-button" type="submit">Select It!</button>


            {{/unless}}
            {{/each}}
            </div>

            <div id="Veggies">
              {{#each veggies}}
                {{#unless this.chosen}}
                <li>
        		<p><span class="label"></span> {{this.image}}</p>
            <p><span class="label"></span> {{this.product}}</p>
            <p><span class="label">Price:</span> {{this.price}}</p>
            <button class="btn btn-success devour-button" type="submit">Select It!</button>


              {{/unless}}
              {{/each}}
              </div>

              <div id="Sides">
                {{#each sides}}
                  {{#unless this.chosen}}
                  <li>
          		<p><span class="label"></span> {{this.image}}</p>
              <p><span class="label"></span> {{this.product}}</p>
              <p><span class="label">Price:</span> {{this.price}}</p>
              <button class="btn btn-success devour-button" type="submit">Select It!</button>


                {{/unless}}
                {{/each}}
                </div>

                <div id="Drinks">
                  {{#each drinks}}
                    {{#unless this.chosen}}
                    <li>
            		<p><span class="label"></span> {{this.image}}</p>
                <p><span class="label"></span> {{this.product}}</p>
                <p><span class="label">Price:</span> {{this.price}}</p>
                <button class="btn btn-success devour-button" type="submit">Select It!</button>


                  {{/unless}}
                  {{/each}}
                  </div>

                  <div id="Add_On">
                    {{#each add_on}}
                      {{#unless this.chosen}}
                      <li>
              		<p><span class="label"></span> {{this.image}}</p>
                  <p><span class="label"></span> {{this.product}}</p>
                  <p><span class="label">Price:</span> {{this.price}}</p>
                  <button class="btn btn-success devour-button" type="submit">Select It!</button>


                    {{/unless}}
                    {{/each}}
                    </div>

      </div>
    </div>

<div class="col-md-1"></div>
<div class="col-md-4">
  <center>
      <h4 class="sub-heading">Receipt</h4>
    </center>
      <div id="already_eaten">
<br>
        <!-- Dynamically Insert Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
  <div class="col-md-1"></div>
</div>
    </div>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
